:root {
  --primerafuente: 'Quicksand', sans-serif;
  --segundafuente: 'Montserrat', sans-serif;
}

.home-container {
  width: 100%;
  height: 100vh;
  background-image: url('src/assets/img/main.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.custom-text {
  font-family: var(--primerafuente);
  font-weight: 500;
  font-size: 100px;
}

.lead {
  font-family: var(--segundafuente);
}

.custom-p {
  font-size: 30px;
  font-weight: 400;
}
