body {
  background-color: #fff;
}

.custom-micuenta {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.navbar.fixed-top {
  margin-top: 0;
}
.bg-green {
  background-color: var(--verdeOscuro);
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #ffcc00;
}

.navbar-brand {
  color: white;
}
